<div class="min-h-screen flex flex-col items-center justify-center py-6 px-4">
    <div class="grid md:grid-cols-2 items-center gap-10 max-w-6xl max-md:max-w-md w-full">
      <div>
        <h1 class="lg:text-5xl text-3xl font-bold lg:leading-[57px] text-slate-900">
          Student Sphere
        </h1>
        <p class="text-sm mt-6 text-slate-500 leading-relaxed">Student Management Systems</p>
        
      </div>
  
      <form class="max-w-md md:ml-auto w-full" (ngSubmit)="login()" #loginForm="ngForm">
        <h2 class="text-slate-900 lg:text-3xl text-2xl font-bold mb-8 text-center">
          Admin Login
        </h2>
  
        <div class="space-y-6">
          <div>
            <label class="text-sm text-slate-800 font-medium mb-2 block">Username</label>
            <input 
              name="username" 
              type="text" 
              [(ngModel)]="username" 
              required 
              class="bg-slate-100 w-full text-sm text-slate-800 px-4 py-3 rounded-md outline-none border focus:border-blue-600 focus:bg-transparent" 
              placeholder="Enter Username" />
          </div>
  
          <div>
            <label class="text-sm text-slate-800 font-medium mb-2 block">Password</label>
            <input 
              name="password" 
              type="password" 
              [(ngModel)]="password" 
              required 
              class="bg-slate-100 w-full text-sm text-slate-800 px-4 py-3 rounded-md outline-none border focus:border-blue-600 focus:bg-transparent" 
              placeholder="Enter Password" />
          </div>
  
          <div class="flex flex-wrap items-center justify-between gap-4">
            <div class="flex items-center">
              <input id="remember-me" name="remember-me" type="checkbox" class="h-4 w-4 text-blue-600 focus:ring-blue-500 border-slate-300 rounded" />
              <label for="remember-me" class="ml-3 block text-sm text-slate-500">
                Remember me
              </label>
            </div>
            <div class="text-sm">
              <a href="javascript:void(0);" class="text-blue-600 hover:text-blue-500 font-medium">
                Forgot your password?
              </a>
            </div>
          </div>
  
          <!-- Display error if login fails -->
          <div *ngIf="errorMessage" class="text-red-500 text-sm mt-2">
            {{ errorMessage }}
          </div>
  
        </div>
  
        <div class="!mt-12">
          <button type="submit" class="w-full shadow-xl py-2.5 px-4 text-sm font-semibold rounded text-white bg-blue-600 hover:bg-blue-700 focus:outline-none">
            Log in
          </button>
        </div>

        

        
      </form>
    </div>
  </div>
